
@{
    ViewBag.Title = "_modalGenerar";
}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="col-lg-12">
        <h3 class="modal-title" id="exampleModalLabel">Generar Comprobante</h3>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <form>
            <div class="col-md-12">
                <div class="form-group">
                    
                    @Html.Label("labelVenta", "Venta :", new { @class = "col-md-3 h4" })
                    <h4 class="col-md-3">V0001</h4> 
                    @Html.Label("labelFecha", "Fecha :", new { @class = "col-md-3 h4" })
                    <h4 class="col-md-3">10/11/2016</h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("labelCodigoComprobante", "Código Comprobante:", new { @class = "col-md-3 h4" })
                    <h4 class="col-md-3">CP0001</h4>
                    @Html.Label("labelNumeroComprobante", "N° Comprobante:", new { @class = "col-md-3 h4" })
                    <h4 class="col-md-3">1234567</h4>
                </div>
            </div>

            <!-- Generar Comprobante -->
            <div class="col-md-12">
                <form>
                    
                    @Html.Label("labelNaturaleza", "Naturaleza:", new { @class = "col-md-3 h4" })
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>Seleccionar</option>
                            <option>Opcion 1</option>
                            <option>Opcion 2</option>
                        </select>
                    </div>
                   
                    @Html.Label("labelTipoComprobante", "Tipo Comprobante :", new { @class = "col-md-3 h4" })
                    <div class="col-md-3">
                        <select class="form-control" id="status" name="status" onChange="mostrar(this.value);">
                            <option>Seleccionar</option>
                            <option value="Ticket">Ticket</option>
                            <option value="Boleta">Boleta</option>
                            <option value="Factura">Factura</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <form>
                    @Html.Label("labelModelo", "Modelo:", new { @class = "col-md-3 h4" })
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>Seleccionar</option>
                            <option>Opcion 1</option>
                            <option>Opcion 2</option>
                        </select>
                    </div>
                    @Html.Label("labelTipoCambio", "Tipo de Cambio :", new { @class = "col-md-3 h4" })
                    <div class="col-md-3">
                        <h4 class="col-md-3">S/0.00</h4>
                    </div>
                </form>
            </div>
            <!-- Generar Comprobante - Caso Ticket -->
            <div id="Ticket" style="display: none;">
                <div class="col-md-12">
                    <h3 class="col-md-12">Ticket</h3>
                    <form>
                        
                        @Html.Label("labelRegistrador", "Registrador :", new { @class = "col-md-3 h4" })
                        <h4 class="col-md-3">Usuario 1</h4>
                        @Html.Label("labelCliente", "Cliente :", new { @class = "col-md-3 h4" })
                        <h4 class="col-md-3">Nombre del Cliente</h4>
                    </form>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Detalle</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad</th>
                                    <th>Total Producto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Camisa</td>
                                    <td>3</td>
                                    <td>150</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Pantalon</td>
                                    <td>2</td>
                                    <td>140</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-2 pull-right">S/ 290.00</h4>
                        @Html.Label("labelSubTotal", "Sub Total :", new { @class = "col-md-2 pull-right h4" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-2 pull-right">S/ 0.00</h4>
                        @Html.Label("labelIGV", "IGV :", new { @class = "col-md-2 pull-right h4" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-2 pull-right">S/ 290.00</h4>
                        @Html.Label("labelTotalNeto", "Total Neto :", new { @class = "col-md-2 pull-right h4" })
                    </div>
                </div>
            </div>
            <!-- Generar Comprobante - Caso Ticket -->
            <!-- Generar Comprobante - Caso Boleta -->
            <div id="Boleta" style="display: none;">
                <div class="col-md-12">
                    <h3 class="col-md-12">Boleta</h3>
                </div>
                <div class="col-md-12">
                    @Html.Label("labelCliente", "Cliente :", new { @class = "col-md-2 h4" })
                    <h4 class="col-md-4">Nombre del Cliente</h4>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Detalle</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad</th>
                                    <th>Total Producto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Camisa</td>
                                    <td>3</td>
                                    <td>150</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Pantalon</td>
                                    <td>2</td>
                                    <td>140</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-2 pull-right">S/ 290.00</h4>
                        @Html.Label("labelTotalNeto", "Total Neto :", new { @class = "col-md-2 pull-right h4" })
                    </div>
                </div>

            </div>
            <!-- Generar Comprobante - Caso Boleta -->
            <!-- Generar Comprobante - Caso Factura -->
            <div id="Factura" style="display: none;">
                <div class="col-md-12">
                    <h3 class="col-md-12">Factura</h3>
                </div>
                <div class="col-md-12">
                    @Html.Label("labelCliente", "Cliente :", new { @class = "col-md-2 h4" })
                    <h4 class="col-md-4">Nombre del Cliente</h4>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Detalle</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad</th>
                                    <th>Total Producto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Camisa</td>
                                    <td>3</td>
                                    <td>150</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Pantalon</td>
                                    <td>2</td>
                                    <td>140</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-2 pull-right">S/ 290.00</h4>
                        @Html.Label("labelOperacionGravada", "Operación Gravada:", new { @class = "col-md-3 pull-right h4" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-2 pull-right">S/ 0.00</h4>
                        @Html.Label("labelOperacionNoGravada", "Operación no Gravada:", new { @class = "col-md-3 pull-right h4" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="col-md-2 pull-right">S/ 290.00</h4>
                        @Html.Label("labelTotalNeto", "Total Neto :", new { @class = "col-md-2 pull-right h4" })
                    </div>
                </div>

            </div>
            <!-- Generar Comprobante - Caso Factura -->
            <!-- Generar Comprobante -->
        </form>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default">Imprimir</button>
    <button type="button" class="btn btn-info">Grabar</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

</div>