@{
    ViewBag.Title = "_modalAgregarCliente";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="col-lg-12">
        <h3 class="modal-title" id="exampleModalLabel">Agregar Cliente</h3>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <form>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("labelCodigoPersona", "Codigo de Persona :", new { @class = "col-md-3 h4" })
                    <h4 class="col-md-3">P0001</h4>
                    @Html.Label("labelFecha", "Fecha :", new { @class = "col-md-3 h4" })
                    <h4 class="col-md-3">10/11/2016</h4>
                </div>
            </div>

            <!-- Registrar Venta - Caso Cliente Natural -->
            <div class="col-md-12">
                <form>
                    @Html.Label("labelNaturaleza", "Naturaleza :", new { @class = "col-md-3 h4" })
                    <div class="col-md-3">
                        <select class="form-control" id="status" name="status" onChange="mostrar(this.value);">
                            <option>Seleccionar</option>
                            <option value="Natural">Natural</option>
                            <option value="Juridica">Juridica</option>
                        </select>
                    </div>
                    @Html.Label("labelTipoPersona", "Tipo Persona:", new { @class = "col-md-3 h4" })
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>Seleccionar</option>
                            <option>Opcion 1</option>
                            <option>Opcion 2</option>
                        </select>
                    </div>
                </form>
            </div>
            <!-- Caso Cliente Natural -->
            <div id="Natural" style="display: none;">
                <div class="col-md-12">
                    <h3 class="col-md-12">Persona Natural</h3>
                    <form>
                        @Html.Label("labelNombres", "Nombres :", new { @class = "col-md-2 h4" })
                        <div class="col-md-4">
                            <input class="form-control input-sm" type="text" placeholder="Nombre Completo">
                        </div>
                    </form>
                </div>

                <div class="col-md-12">
                    <form> 
                        @Html.Label("labelApPaterno", "Ap. Paterno :", new { @class = "col-md-2 h4" })
                        <div class="col-md-4">
                            <input class="form-control input-sm" type="text" placeholder="Apellido Paterno">
                        </div>
                        @Html.Label("labelApMaterno", "Ap. Materno :", new { @class = "col-md-2 h4" })
                        <div class="col-md-4">
                            <input class="form-control input-sm" type="text" placeholder="Apellido Materno">
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    <form>
                      
                        @Html.Label("labelNDocumento", "N° Documento:", new { @class = "col-md-3 h4" })
                        <div class="col-md-3">
                            <input class="form-control input-sm" type="text" placeholder="Numero de Documento">
                        </div>
                        @Html.Label("labelSexo", "Sexo :", new { @class = "col-md-2 h4" })
                        <div class="col-md-4">
                            <select class="form-control">
                                <option>Seleccionar</option>
                                <option>Hombre</option>
                                <option>Mujer</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="col-md-12">
                    <form>
                        @Html.Label("labelWebCorreo", "Dirección Web o Correo Electrónico :", new { @class = "col-md-6 h4" })
                        @Html.Label("labelDireccionDomicilio", "Dirección de Domicilio :", new { @class = "col-md-6 h4" })
                    </form>
                </div>

                <div class="col-md-12">
                    <form>
                        <div class="col-md-6">
                            <input class="form-control input-sm" type="text">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control input-sm" type="text">
                        </div>
                    </form>
                </div>
            </div>
            <!-- Caso Cliente Natural -->
            <!-- Caso Cliente Juridica -->
            <div id="Juridica" style="display: none;">
                <div class="col-md-12">
                    <h3 class="col-md-12">Persona Juridica</h3>
                    <form>
                        @Html.Label("labelNombres", "Nombres :", new { @class = "col-md-2 h4" })
                        <div class="col-md-4">
                            <input class="form-control input-sm" type="text" placeholder="Nombre Completo">
                        </div>
                        @Html.Label("labelNDocumento", "N° Documento:", new { @class = "col-md-3 h4" })
                        <div class="col-md-3">
                            <input class="form-control input-sm" type="text" placeholder="Numero de Documento">
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    <form>
                        @Html.Label("labelWebCorreo", "Dirección Web o Correo Electrónico :", new { @class = "col-md-6 h4" })
                        @Html.Label("labelDireccionDomicilio", "Dirección de Domicilio :", new { @class = "col-md-6 h4" })
                    </form>
                </div>

                <div class="col-md-12">
                    <form>
                        <div class="col-md-6">
                            <input class="form-control input-sm" type="text">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control input-sm" type="text">
                        </div>
                    </form>
                </div>

            </div>
            <!-- Caso Cliente Juridica -->
            <!-- Registrar Venta - Caso Cliente Natural -->
        </form>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info">Grabar</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

</div>
